{
  "presets": ["latest", "react"],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "${CONFIG}"
          }
        ]
      ]
    }
  }
}
