@import 'style/variables/color.css';

.app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);

  &_actionButtonLayout {
    position: absolute;
    right: 80px;
    bottom: 80px;
  }
}
